*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000da;
    color:#fff;
}
#main-board,#add-task-board{
    width:40%;
    padding:20px;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    border:1px solid#1f1f1f;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(41, 41, 41),
                -5px -5px 2px rgb(41, 41, 41);
    
}
#main-board h2{
    text-decoration: underline;
}
.task-container{
    padding:10px 0;
}
h2{
    margin-bottom: 15px;
}
#button-container{
    width: fit-content;
    text-align: center;
    margin:50px auto 10px;
}
#button-container svg{
    background: #5804a8;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}
svg{
    stroke-width: 1;
}
#add-task-board{
    display:none;
    margin:50px auto;
}
#close-icon{
    width:fit-content;
    margin: 0 0 50px;
}
.task-item{
    border:1px solid transparent;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:15px;
    display: flex;
    background: #1f1f1f;
}
.task-content{
    width:60%;
    display: flex;
    gap:20px;
}
input{
    display:block;
    margin-bottom: 12px;
    padding:10px;
    width:70%;
    outline: none;
    background: transparent;
    border:none;
    border-bottom:1px solid #dcdcdc;
    color:aliceblue;
    font-size: 18px;
}
input[type="radio"]{
    width:unset;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    margin: 2px 20px 2px 5px;
}
span{
    font-size: 20px;
}
#add-button{
    margin:40px auto 6px;
    padding:5px ;
}
button{
    padding:10px 15px;
    border-radius: 30px;
    border:1px solid transparent;
    background: #6913ba;
    color:#fff;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width:767px){
    #main-board,#add-task-board{
        width:90%;
        margin:10px auto;
    }
    input{
        width:100%;
    }    
}
@media (min-width:768px) and (max-width:1023px){
    #main-board,#add-task-board{
        width:70%;
        margin:70px auto;
    }
    input{
        margin-bottom:15px;
        padding:15px;
        width:70%;
    }

}
